body {
    background-color: rgb(46, 46, 46);
}
 
div.container{
    width: 70vw;
    height: 80vh;
    margin: auto;
}

 a{
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    transition: 0.2s;
    padding: 1rem;
    border-radius: 1rem;

}

 a:hover{
    background-color: rgb(46, 46, 46);
    color: rgb(130, 32, 221);
}