body {
    background-color: #091a34 (20,20,20); 

}

h1{
    color: white;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    background-color: #091a34;
    padding: 4rem;
    border-radius: 10px;
    border-bottom: 5px solid rgb(130, 32, 221);
}

.container {
    border: 1px solid rgb(17, 41, 17);
    border-radius: 0.35em;
    margin: auto;
    margin-bottom: 16px;
    width: 85%;
}

#background{
    background-color: #091a34;
    border-radius: 10px;
    

}

 a{
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    transition: 0.2s;
    padding: 1rem;
    border-radius: 1rem;

}

 a:hover{
    background-color: rgb(46, 46, 46);
    color: rgb(130, 32, 221);
}