body {
    background-color: rgb(22, 22, 22); 

}

h1{
    color: white;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    background-color: rgb(31, 31, 31);
    padding: 4rem;
    border-radius: 10px;
    border-bottom: 5px solid rgb(130, 32, 221);
}
nav{
    display: flex;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
}

nav li{
    list-style: none;
    padding: 0.5rem;
    display: inline;
}

li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    transition: 0.2s;
    padding: 1rem;
    border-radius: 1rem;

}

li a:hover{
    background-color: rgb(46, 46, 46);
    color: rgb(130, 32, 221);
}
#vinho{
    width: 250px;
    text-align: center;
}

#background{
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(130, 32, 221);
}

a{
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    transition: 0.2s;
    padding: 1rem;
    border-radius: 1rem;

}

 a:hover{
    background-color: rgb(46, 46, 46);
    color: rgb(130, 32, 221);
}

h2{
    padding-bottom: 2rem;
}

#explicaçao {
    color: white;
    font-family: 'DM Sans', sans-serif;
    text-align: justify;
    background-color: rgb(31, 31, 31);
    padding: 4rem;
    border-radius: 10px;
}

#imgVinho {
    float: center;
    text-align: center;
    width: 200px;
}

#vinho {
    size: 150px;
}

#footer{
    background-color: rgb(36, 36, 36);
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 1rem;
    margin-bottom: 7rem;
    border-radius: 10px;
}

#txtfooter {
    padding: 2rem;
}